<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="footer">

        <div class="box-container">

            <div class="box">

                <h3>quick links</h3>
                <a class="links" href="#home">home</a>
                <a class="links" href="#about">about</a>
                <a class="links" href="#features">features</a>
                <a class="links" href="#pricing">pricing</a>
                <a class="links" href="#trainers">trainers</a>
                <a class="links" href="#contactus">contact us</a>
            </div>

            <div class="box">
                <h3>opening hours</h3>
                <p> monday : <i> 7:00am - 10:30pm </i> </p>
                <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
                <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
                <p> friday : <i> 7:00am - 10:30pm </i> </p>
                <p> saturday : <i> 7:00am - 10:30pm </i> </p>
                <p> sunday : <i> closed </i> </p>
            </div>

            <div class="box">
                <h3>reach us</h3>
                <p> <i class="fas fa-phone"></i> +91-1234567890 </p>
                <p> <i class="fas fa-phone"></i> +91-1234567890 </p>
                <p> <i class="fas fa-envelope"></i> example@gmail.com </p>
                <p> <i class="fas fa-map"></i> karnataka, india - 666666 </p>
                <div class="share">
                  <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                  <a href="https://twitter.com/?lang=en-in" target="_blank" class="fab fa-twitter"></a>
                  <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                  <a href="https://in.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest updates</p>
                <form action="/subscribe" method="post">
                    <input type="email" name="email1" class="email" placeholder="enter your email" required>
                    <input type="submit" value="subscribe" class="btn">
                </form>
            </div>

        </div>

    </section
  </body>
</html>
