<section class="about" id="about">
    <div class="image">
        <img src="images/about-img.jpg" alt="">
    </div>
    <div class="content">
      <h1 class="heading"><span>about us</span></h1>
      <h3 class="title">Every day is a chance to become better</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quia accusamus dicta inventore nobis obcaecati vero odio, id dolorum. Consequatur ex, aperiam deserunt nostrum perferendis illum unde ipsa? Consequatur, distinctio?</p>
      <div class="box-container">
          <div class="box">
              <h3><i class="fas fa-check"></i>body and mind</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, enim.</p>
          </div>
          <div class="box">
              <h3><i class="fas fa-check"></i>healthy life</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, enim.</p>
          </div>
          <div class="box">
              <h3><i class="fas fa-check"></i>strategies</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, enim.</p>
          </div>
          <div class="box">
              <h3><i class="fas fa-check"></i>workout</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, enim.</p>
          </div>
      </div>
      <form action="/read_more" method="post">
        <input type="submit" class="btn" value="read more">
      </form>
    </div>
</section>
