<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="all_pricings">
      <h1>all pricings page</h1>
      <a href="/" class="btn">return back </a>
    </section>
  </body>
</html>
