<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="servererr">
      <h1>server error, please </h1>
      <a href="/" class="btn">try again later</a>
    </section>
  </body>
</html>
