<section class="trainers" id="trainers">

    <h1 class="heading"> <span>expert trainers</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/trainer-1.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>john deo</h3>
                <div class="share">
                    <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/?lang=en-in" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                    <a href="https://in.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-2.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>john deo</h3>
                <div class="share">
                  <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                  <a href="https://twitter.com/?lang=en-in" target="_blank" class="fab fa-twitter"></a>
                  <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                  <a href="https://in.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-3.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>john deo</h3>
                <div class="share">
                  <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                  <a href="https://twitter.com/?lang=en-in" target="_blank" class="fab fa-twitter"></a>
                  <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                  <a href="https://in.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-4.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>john deo</h3>
                <div class="share">
                  <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                  <a href="https://twitter.com/?lang=en-in" target="_blank" class="fab fa-twitter"></a>
                  <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                  <a href="https://in.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>

</section>
